In [3]:
import pandas as pd
import numpy as np
import datetime as dt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify

In [4]:
df = pd.read_csv("20221107_topbabynames.csv")

In [5]:
df.head()

   Year     Sex  Rank     Name  Count Data_Revision_Date
0  1960  Female     1    SUSAN   3299         11/07/2022
1  1960  Female     2     MARY   3248         11/07/2022
2  1960  Female     3    KAREN   3156         11/07/2022
3  1960  Female     4  CYNTHIA   2982         11/07/2022
4  1960  Female     5     LISA   2839         11/07/2022

In [6]:
df.Year.value_counts()

1984    51
2015    51
2013    51
2021    50
2002    50
        ..
1969    50
1967    50
1965    50
1963    50
1960    50
Name: Year, Length: 62, dtype: int64

# north west, south west, north east, south east

In [8]:
len(df.State.unique())

51

In [11]:
State = df.State.unique()

In [16]:
state_df = df.loc[:, "State"]
state_df

0          AK
1          AK
2          AK
3          AK
4          AK
           ..
5647421    WY
5647422    WY
5647423    WY
5647424    WY
5647425    WY
Name: State, Length: 5647426, dtype: object

In [13]:
State.to_csv("State_abbr.csv")

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'

In [10]:
df.Year.unique()

array([1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920,
       1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931,
       1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
       1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953,
       1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964,
       1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014], dtype=int64)